streamlit==1.32.0
langchain==0.1.12
langchain-community==0.0.28
langchain-groq==0.1.0
langchain-huggingface==0.0.1
langchain-text-splitters==0.0.1
pypdf==4.1.0
faiss-cpu==1.8.0
sentence-transformers==2.6.1
torchvision==0.17.2
requests==2.31.0
fpdf2==2.7.8
streamlit-google-oauth
